---
Language:        Cpp
BasedOnStyle:    LLVM
ColumnLimit:     120
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Attach
IncludeCategories:
  - Regex:    '^<'
    Priority: -1
  - Regex:    '.*'
    Priority: 1
IndentPPDirectives: BeforeHash
IndentCaseLabels: true
IndentWidth: 4
InsertBraces: true
TabWidth: 4
UseTab: Never
...
