body {
    background-color: black;
    padding: 0px 10px;
    font-family: sans-serif;
    margin: auto;
    width: 94%;
}

.text {
    color: white;
}

.manadd {
    background-color: #A9A9A9;
    border-radius: 5px;
    width: 25%;
    height: 16px;
}

.input-range { 
    appearance: slider-vertical;
    -moz-appearance: slider-vertical;
    -webkit-appearance: slider-vertical;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
}

#alt-input {
    position: absolute;
    width: 35px;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-55%,-50%);
    opacity: 0.6;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#alt-input:hover {
    opacity: 1;
}

#alt-value {
    position: absolute;
    top: 1.5%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#alt-btn {
    position: absolute;
    top: 96.6%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #00ABF0;
    border-radius: 8px;
    color: white;
    padding: 6px 8px;
    text-align: center;
    font-size: 12px;
}

#fplan {
    display: none;
    width: 99.6%;
    height: 250px;
}

#generate {
    background-color: #5A5A5A;
    border-radius: 8px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    font-size: 16px;
}

#manadd-btn {
    background-color: #A041DB;
    border-radius: 8px;
    margin-left: 8px;
    color: white;
    padding: 8px 11px;
    text-align: center;
    font-size: 12px;
}

#map {
    touch-action: none;
    height: 580px;
    border-radius: 12px;
}
