body {
    background-color: black;
    padding: 0px 10px;
    font-family: sans-serif;
    margin: auto;
    width: 92%;
}

.text {
    color: white;
}

.manadd {
    width: 25%;
    height: 16px;
}

#fplan {
    display: none;
    width: 99.6%;
    height: 500px;
}

#generate {
    background-color: #5A5A5A;
    color: white;
    padding: 8px 15px;
    text-align: center;
    font-size: 16px;
}

#manadd_btn {
    background-color: #A020F0;
    color: white;
    padding: 8px 11px;
    text-align: center;
    font-size: 12px;
}

#map {
    height: 580px;
}
