/* General styling */

body {
    background-color: black;
    color: white;
    padding: 0px 10px;
    font-family: sans-serif;
    margin: auto;
    width: 94%;
}

.header {
    display: flex;
    align-items: center;
}

.icon {
    width: 64px;
    height: 64px;
    margin: 15px 8px 15px 0px;
}

.input-range {
    appearance: slider-vertical;
    -moz-appearance: slider-vertical;
    -webkit-appearance: slider-vertical;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.position-field {
    background-color: #A9A9A9;
    border-radius: 5px;
    width: 25%;
    height: 16px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9999;
    display: none;
}

#notify {
    display: none;
}

#alt-slider {
    display: none;
}

#alt-value {
    top: 1.5%;
}

#alt-input {
    position: absolute;
    width: 35px;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-55%,-50%);
    border: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#alt-input:hover {
    opacity: 0.95;
}

#map {
    touch-action: none;
    height: 580px;
    border-radius: 12px;
    border-radius: 8px;
}

#fplan {
    display: none;
    width: 99.6%;
    height: 80px;
    border-radius: 6px;
}

/* Buttons */

.rm-btn {
    background-color: #D21404;
    border-radius: 8px;
    margin-left: 8px;
    color: white;
    padding: 8px 11px;
    text-align: center;
    font-size: 12px;
}

#alt-btn {
    position: absolute;
    top: 96.6%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #00ABF0;
    border-radius: 8px;
    color: white;
    padding: 6px 8px;
    text-align: center;
    font-size: 12px;
}

#generate {
    background-color: #5A5A5A;
    border-radius: 8px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    font-size: 16px;
}

#manadd-btn {
    background-color: #A041DB;
    border-radius: 8px;
    margin-left: 8px;
    color: white;
    padding: 8px 11px;
    text-align: center;
    font-size: 12px;
}

/* Waypoints table */

#waypoints-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px; /* can't get this to work :( */
    background-color: #333333;
    border: 1.5px solid white;
}

#waypoints-table th,
#waypoints-table td {
    padding: 10px;
    text-align: left;
}

#waypoints-table,
#waypoints-table th {
    background-color: #555555;
    color: white;
}

#waypoints-table tr:nth-child(even) {
    background-color: #444444;
}

#waypoints-table tr:hover {
    background-color: #1a1a1a;
}

/* Mobile-only styling (for waypoints table)*/
@media only screen and (max-width: 600px) {
    #table-container {
        overflow-x: auto;
    }
    
    /* Position field */
    #waypoints-table th:nth-child(2),
    #waypoints-table td:nth-child(2) {
        max-width: 65px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    /* Altitude field */
    #waypoints-table th:nth-child(3),
    #waypoints-table td:nth-child(3) {
        max-width: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
